doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    head
      ul
        li test1
        li test2

    block content

    block sidebar

    footer | Copy Right
