extends layout

block content

    .product(test="123")
        .image
            each val, index in images
                img(src=val, alt="Test")
        .main
            h1 #{name}
            .description lorem ipsum
            .price #{price}
        #comments(data-name="foo")
block sidebar
    #sidebar | Side Bar